
.overflow-y {
    overflow-y: auto;
}

.h-0 {
    min-height: 0 !important;
    height: 0 !important;
}

.h-15 {
    height: 15% !important;
    min-height: 15%;
}

.h-20 {
    height: 20% !important;
    min-height: 20%;
}

.h-70 {
    height: 70% !important;
    min-height: 70%;
}

.min-vh-50 {
    min-height: 50vh !important;
}

.w-15 {
    width: 15% !important;
    min-width: 15% !important;
}

.fixed-w-300 {
    width: 300px;
}

@media (min-width: 768px) {
    .w-md-80 {
        width: 80% !important;
        min-width: 80%;
    }

    .fixed-w-md-200 {
        width: 200px;
        min-width: 200px;
    }
}

@media (min-width: 992px) {
    .fixed-w-lg-300 {
        width: 300px;
        min-width: 300px;
    }
}

.adjust-to-screen {
    height: 100vh;
}

.jquery-hidden {
    display: none; /* Different from bootstrap's d-none in that it's not !important */
}

.option-panel {
    margin-top: 0.5rem;
    background: #eee;
    border-radius: 5px;
}

.margin-gutter-columns > div {
    border: 10px solid white;
}

.margin-gutter-columns > div:first-child {
    border-left: 0;
}

.margin-gutter-columns > div:last-child {
    border-right: 0;
}

.bg-red {
    background-color: rgb(255, 89, 89);
    color: white;
}

.bg-green {
    background-color: rgb(89, 180, 89);
    color: white;
}

.bg-blue {
    background-color: rgb(89, 89, 255);
    color: white;
}

.bg-orange {
    background-color: rgb(255, 161, 98);
    color: white;
}

.btn-inactive {
    background-color: rgb(100, 100, 180);
    color: white;
}

.btn-active {
    background-color: rgb(255, 161, 98);
    color: black;
}

.btn:active:not(.disabled) {
    background-color: black;
}

.btn:hover:not(.btn-active):not(.btn-link) {
    color: white;
}

.list-group-item-action:hover,
.btn-link:hover:not(.active) {
    cursor: pointer;
}

.cursor-hover:hover {
    cursor: pointer;
}

.list-group-item-action:hover:not(.active) {
    background-color: rgb(240, 240, 240);
}

.svg-inverted-color {
    filter: invert(1)
}

.btn-inactive img[type='image/svg'] {
    filter: invert(1)
}

.btn:disabled:active {
    background-color: unset !important;
}

.svg-gray-color {
    opacity: 0.1;
}

.no-data-indicator {
    background-color: rgb(243, 243, 243);
    border-radius: 5px;
    display: inline-block;
    width: 15em !important;
    text-align: center;
    color: gray;
    font-size: small;
}

.not-allowed-indicator {
    background-color: rgb(248, 229, 218);
    border-radius: 5px;
    display: inline-block;
    width: 15em !important;
    text-align: center;
    color: rgb(129, 112, 101);
    font-size: small;
}

.missing-full-name {
    color: gray;
}

small.gray-text {
    color: rgb(196, 196, 196);
}

.login-title {
    color: rgb(196, 196, 196);
    font-variant: small-caps;
    text-transform: capitalize;
    text-align: center;
    width: 100%;
    letter-spacing: 0.5rem;
}

.login-error {
    color:rgb(255, 36, 36);
}

.admin-title {
    color: rgb(196, 196, 196);
    font-variant: small-caps;
    text-transform: capitalize;
    text-align: right;
    width: 100%;
    letter-spacing: 0.5rem;
}

#inhabitant-data-table td:first-child {
    text-align: right;
    font-weight: bold;
    padding-right: 10%;
    width: 40%;
}

#user-role-list td:not(.active):hover {
    cursor: pointer;
    background: rgb(250, 250, 250);
    border-radius: 5px;
}

#user-role-list .active {
    background: rgb(220, 220, 220);
    border-radius: 5px;
}


@keyframes fade-in {
    0% {
        opacity: 0.2;
    }
    100% {
        opacity: 1;
    }
}

.fade-in {
    animation: fade-in 0.15s 1 both;
}