body {
    height: 100vh;
}

.login-title {
    color: rgb(196, 196, 196);
    font-variant: small-caps;
    text-transform: capitalize;
    text-align: center;
    width: 100%;
    letter-spacing: 0.5rem;
}